# Advanced Sets

In [1]:
s = set()
s.add(1)
s.add(2)
s

{1, 2}

In [3]:
s.add(2)
s

{1, 2}

In [5]:
s.clear()
s

set()

In [9]:
s={1,2,3}
sc = s.copy()
sc

{1, 2, 3}

#### Difference

In [19]:
s.add(4)
s.difference(sc)

{4}

In [12]:
s1={1,2,3}
s2={1,4,5}

s1.difference_update(s2)
# Removes all the values that are the same is the other set

s1

{2, 3}

#### Discard

In [20]:
s

{1, 3, 4}

In [14]:
s.discard(2)
s.discard(69)

s

{1, 3, 4}

#### Intersection

In [21]:
# puts same values in a new set
s1={1,2,3}
s2={1,2,4}

s1.intersection(s2)

{1, 2}

In [16]:
s1

{1, 2, 3}

In [17]:
s1.intersection_update(s2)

In [18]:
s1

{1, 2}

#### isdisjoined

In [22]:
s1 = {1,2}
s2 = {1,2,4}
s3 = {5}

In [26]:
s1.isdisjoint(s2)

False

In [27]:
s1.isdisjoint(s3)

True

#### issubset

In [29]:
s1.issubset(s2)

True

#### issuperset

In [30]:
s2.issuperset(s1)

True

#### symmetric_difference

In [31]:
s1

{1, 2}

In [32]:
s2

{1, 2, 4}

In [33]:
s1.symmetric_difference(s2)

{4}

In [34]:
s1.symmetric_difference_update(s2)
# changes s1 into that difference

In [35]:
s1

{4}

#### union

In [37]:
s1.union(s2)

{1, 2, 4}

#### update

In [38]:
s1.update(s2)

In [39]:
s1

{1, 2, 4}