# Advanced Lists

In [77]:
l = [1,2,3]

### append

In [78]:
l.append(4)

In [79]:
l

[1, 2, 3, 4]

### count

In [80]:
l.count(10)

0

In [81]:
l.count(1)

1

### extend

In [82]:
x = [1,2,3]
x.append([4,5])
# add the value list inside the list
print(x)

[1, 2, 3, [4, 5]]

In [83]:
x = [1,2,3]
x.extend([4,5])
# add values individually
print(x)

[1, 2, 3, 4, 5]

### index

In [84]:
l

[1, 2, 3, 4]

In [85]:
l.index(2)

1

In [86]:
l.index(69)

ValueError: 69 is not in list

### insert

In [87]:
l

[1, 2, 3, 4]

In [88]:
l.insert(2, 'inserted')

In [89]:
l

[1, 2, 'inserted', 3, 4]

### pop

In [90]:
l

[1, 2, 'inserted', 3, 4]

In [91]:
ele = l.pop()
ele

4

In [92]:
l.pop(0)

1

In [93]:
l

[2, 'inserted', 3]

### remove

In [94]:
l

[2, 'inserted', 3]

In [95]:
l.remove('inserted')

In [96]:
l

[2, 3]

In [97]:
l = [1,2,3,4,3]

In [98]:
# remove only removes the first instance of the value (3 in this case)
l.remove(3)

In [99]:
l

[1, 2, 4, 3]

### reverse

In [100]:
l.reverse()

In [101]:
l

[3, 4, 2, 1]

### sort

In [102]:
l.sort()

In [103]:
l

[1, 2, 3, 4]