# Datetime

In [2]:
import datetime as dt

In [11]:
# datetime.time(h,m,s,ms,tz)
t = dt.time(5,25,1)

In [12]:
print(t)

05:25:01

In [13]:
t.minute

25

In [16]:
print(dt.time.min)

00:00:00

In [17]:
print(dt.time.max)

23:59:59.999999

In [18]:
print(dt.time.resolution)

0:00:00.000001

In [26]:
# datetime.date(yyyy,mm,dd)
d = dt.date.today()

In [27]:
print(d)

2020-02-07

In [28]:
d.timetuple()

time.struct_time(tm_year=2020, tm_mon=2, tm_mday=7, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=4, tm_yday=38, tm_isdst=-1)

In [29]:
d.year

2020

In [30]:
d.day

7

In [33]:
print(dt.date.min)

0001-01-01

In [34]:
print(dt.date.max)

9999-12-31

In [35]:
print(dt.date.resolution)

1 day, 0:00:00

In [36]:
d1 = dt.date(2015,3,11)
print(d1)

2015-03-11

In [37]:
d2 = d1.replace(year=2020)

In [38]:
print(d2)

2020-03-11

In [39]:
d2-d1

datetime.timedelta(days=1827)