# Usefull operators

## Range

In [10]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

range(start, end, steps)

In [13]:
for num in range(3,10,2):
    print(num)

3
5
7
9

In [11]:
list(range(0,11,3))

[0, 3, 6, 9]

## Enumerate

In [15]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count+=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [16]:
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count+=1

a
b
c
d
e

In [17]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

Tuples!

In [18]:
word = 'abcde'

for index, letter in enumerate(word):
    print(index)
    print(letter)
    print()

0
a

1
b

2
c

3
d

4
e

## Zip

In [27]:
mylist1=[1,2,3,4,5]
mylist2=['a','b','c']
mylist3=[100,200,300]

In [21]:
zip(mylist1, mylist2)

Zegt dat de zip klaar is op deze plaats in memory (zegt dus niet veel)

In [26]:
for item in zip(mylist1, mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [28]:
list(zip(mylist1, mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

## In

In [30]:
'x' in [1,2,3]

False

In [31]:
'x' in ['x', 'y', 'z']

True

In [33]:
'o' in 'world'

True

In [34]:
'mykey' in {'mykey':345}

True

In [37]:
d = {'mykey':345}

345 in d.values()

True

## Min, Max

In [38]:
mylist = [10,20,30,40, 100]

In [39]:
min(mylist)

10

In [40]:
max(mylist)

100

## Random

### shuffle

In [41]:
# from the random library in python, import shuffle
from random import shuffle

In [59]:
mylist = [1,2,3,4,5,6,7,8,9]
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
random_list = shuffle(mylist)

In [61]:
type(random_list)

NoneType

In [62]:
mylist

[3, 5, 4, 1, 6, 2, 7, 9, 8]

### randint

In [63]:
from random import randint

In [64]:
randint(0,100)

62

In [65]:
randint(0,100)

89

In [66]:
mynum = randint(0, 10)

In [67]:
mynum

8

## Input

In [69]:
input('Enter a number here: ')

Enter a number here: 15

'15'

In [70]:
result = input('What is your name? ')

What is your name? Steven

In [71]:
result

'Steven'

In [72]:
numresult = input('What is your age? ')

What is your age? 20

In [73]:
type(numresult)

str

Output is always a string

In [74]:
float(numresult)

20.0

In [75]:
int(numresult)

20

In [77]:
numresult = int(input('What is your age? '))

What is your age? 20

In [78]:
type(numresult)

int